

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Simulation internals &mdash; Gromacs External Interfaces</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../genindex.html"/>
        <link rel="search" title="Search" href="../search.html"/>
    <link rel="top" title="Gromacs External Interfaces" href="../index.html"/>
        <link rel="up" title="Components" href="../components.html"/>
        <link rel="next" title="Implementation layers" href="../layers.html"/>
        <link rel="prev" title="Execution context" href="context.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> Gromacs API
          

          
          </a>

          
            
            
              <div class="version">
                0.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Documentation sections</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../intro.html">About</a></li>
<li class="toctree-l1"><a class="reference internal" href="../userguide.html">Guides</a></li>
<li class="toctree-l1"><a class="reference internal" href="../developerguide.html">Architecture and design notes</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../components.html">Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="fileio.html">File-backed data interfaces</a></li>
<li class="toctree-l2"><a class="reference internal" href="microstate.html">Model and Microstate</a></li>
<li class="toctree-l2"><a class="reference internal" href="graphmodules.html">Runner and modules</a></li>
<li class="toctree-l2"><a class="reference internal" href="context.html">Execution context</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Simulation internals</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#simulation-loop">Simulation loop</a></li>
<li class="toctree-l3"><a class="reference internal" href="#communicator">Communicator</a></li>
<li class="toctree-l3"><a class="reference internal" href="#step-scheduling">Step Scheduling</a></li>
<li class="toctree-l3"><a class="reference internal" href="#notifications">Notifications</a></li>
<li class="toctree-l3"><a class="reference internal" href="#integrator">Integrator</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../layers.html">Implementation layers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference.html">Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="../changelog.html">Change Log</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Gromacs API</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../components.html">Components</a> &raquo;</li>
        
      <li>Simulation internals</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/plugins.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="simulation-internals">
<h1>Simulation internals<a class="headerlink" href="#simulation-internals" title="Permalink to this headline">¶</a></h1>
<p>The applied_forces facility implemented for the electric field module has become
the starting point for discussions on API requirements to allow less tightly
coupled extension of the simulation loop. In order to allow encapsulation of
performance-critical internals and a stable interface to external developers
without compromising the flexibility of the core developers, we need to negotiate
the facilities and access available to low-level simulation extensions.</p>
<p>Additionally, rapid prototyping and and alternative workflows present use cases
for providing access to internal data structures at a higher level before,
during, or after a simulation run. Again, for each use case, we need to conside
an interface that prevents misuse, provides the minimal access, and hides the
implementation sufficiently that external or higher-level code cannot invalidate
assumptions made for optimizations in the core code.</p>
<div class="section" id="simulation-loop">
<h2>Simulation loop<a class="headerlink" href="#simulation-loop" title="Permalink to this headline">¶</a></h2>
<p>In general, it should be possible to implement plugins for such things a new
potentials very similarly to built-ins with access to the same optimized
routines, though the interfaces to some can’t possibly be as stable as
higher-level code, so we might consider feature versioning for the plugin API
instead of just an overall API level.</p>
<p>Simulation plugins, call-backs, and API-facilitated introspection or manipulation
require some additional facilities and revised data structures in the core library.</p>
<ul class="simple">
<li>Hooks in the simulation loop for commonly extended behaviors to allow non-invasive extensibility through plugins</li>
<li>Publicly derivable interface classes for extension code not (yet) included with Gromacs</li>
<li>run-time binding of plugins via API calls when Gromacs is used as a library</li>
<li>granular access to internal machinery for call-backs, rapid prototyping, etc.</li>
</ul>
</div>
<div class="section" id="communicator">
<h2>Communicator<a class="headerlink" href="#communicator" title="Permalink to this headline">¶</a></h2>
<p>If we want to be able to optimize non-local communication, access to the communicator
should be mediated.</p>
<ul class="simple">
<li>the ability to register an interest in particular data being available locally at the next (or other specified) iteration</li>
<li>Some amount of extensibility in adding data to the next outward communication</li>
<li>Iterators for requested input/output data to allow Gromacs to optimize its availability and access control</li>
</ul>
</div>
<div class="section" id="step-scheduling">
<h2>Step Scheduling<a class="headerlink" href="#step-scheduling" title="Permalink to this headline">¶</a></h2>
<p>Various code has a need to manage what steps it is run on and deal with constraints associated with checkpointing and logging phase.</p>
</div>
<div class="section" id="notifications">
<h2>Notifications<a class="headerlink" href="#notifications" title="Permalink to this headline">¶</a></h2>
<p>Some sort of publisher-subscriber or observer pattern is necessary to allow
MD components to be introduced with minimal coupling.</p>
<p>In addition to standard justifications for encapsulation,
methods to invalidate state should only be called by the object that
owns the relevant data, since whether or not a certain action invalidates
state may depend on implementation. E.g. changing the size of the simulation
box doesn&#8217;t invalidate domain decomposition if there is only one domain,
while rescaling particle positions invalidates Verlet/neighbor lists for
truncated non-bonded potentials, but not necessarily all force compute
kernels.</p>
<p>In the absence of the Boost signals code, I have seen the
[nano-signal-slot](<a class="reference external" href="https://github.com/NoAvailableAlias/nano-signal-slot">https://github.com/NoAvailableAlias/nano-signal-slot</a>) package used effectively
to provide signals and slots for handling things like, <em>e.g.</em>
<cite>BoxChanged</cite>, <cite>ParticleNumChanged</cite>...
Initial implementation will require only a few signals to connect core modules
(for <em>e.g.</em> triggering domain decomposition or pair list rebuilds)
but additional signals and handlers will be added as needed,
and the facility will be very useful for
developers of extension code, such as alchemical techniques (<cite>ParticleTypesChanged</cite>,
<cite>ChargesUpdated</cite>, <cite>NonIntegratorParticleTranslation</cite>, <cite>NBRangeChanged</cite>) and
encapsulated workflows (<cite>TSetChanged</cite>, <cite>NDegreesFreedomChanged</cite>).</p>
</div>
<div class="section" id="integrator">
<h2>Integrator<a class="headerlink" href="#integrator" title="Permalink to this headline">¶</a></h2>
<p>Some considerations follow.</p>
<p>Objects / Data owned by the integrator are limited to data
generated and used specifically because of the integration
method or algorithm and used to update the configuration
from one simulation step to the next.</p>
<ul class="simple">
<li>thermostat/barostat internal state</li>
<li>constraints?</li>
<li>virial?</li>
</ul>
<p>Objects used by the Integrator</p>
<ul class="simple">
<li>simulation box definition</li>
<li>PRNG</li>
<li>force / potential evaluators</li>
<li>particle and topology data</li>
<li>logger</li>
<li>messenger</li>
<li>communicator(s)</li>
<li>load balancer(s)</li>
<li>user-provided parameters</li>
<li>neighbor list</li>
<li>particle selection / grouping structures</li>
<li>checkpointing facilities</li>
</ul>
<p>The integrator, and objects and functors used by the Integrator, should be created
at a higher scope than the simulation loop so that they can
provide facilities to other code before and after simulation
as well as during simulation to objects bound before the loop
begins. Public facilities can include facilities provided to the
integrator and/or functionality and data of interest to users
or other objects.</p>
<ul class="simple">
<li>applied forces, last calculated values</li>
<li>contribution to energy and virial</li>
<li>current parameter values</li>
<li>state introspection</li>
<li>parallel / distributed access methods as well as gather operations</li>
<li>useful &#8220;signals&#8221; or publish/subscribe hooks for data owned</li>
</ul>
<p>Some basic abstract interfaces will be obvious, while more
esoteric code should be free to provide extended interfaces.</p>
<p>Less public functionality may still be exposed, possibly through
additional wrappers or a sequence of calls to account for inner loop
optimizations. E.g. <code class="docutils literal"><span class="pre">update()</span></code> or <code class="docutils literal"><span class="pre">calculate()</span></code> methods called by
the simulation runner every step, or methods to invalidate some
aspect of simulation state to force recalculation or reinitialization
of something.</p>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../layers.html" class="btn btn-neutral float-right" title="Implementation layers" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="context.html" class="btn btn-neutral" title="Execution context" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2017, M. Eric Irrgang and Peter Kasson.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>